.border {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  max-width: 1200px;
  max-height: 85%;
  border: solid 20px #D8D806;
  z-index: 1;
  pointer-events: none;
}

.border-visible {
  opacity: 1!important;
}
