.card {
  width: 320px;
  height: 420px;
  margin-bottom: 16px;
  border-radius: 20px;
  box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.04);  
}

.card__link {
  text-decoration: none;
}

.card__img {
  width: 320px;
  height: 240px;
  border-radius: 20px 20px 0 0;
  object-fit: cover;
}

.card__content {
  height: 180px;
  color: #707070;
}
.card__title {
  text-align: center;
  font-size: 24px;
  margin: 18px 0;
}

.card__lead {
  padding: 0 40px;
  font-size: 12px;
}
