.footer-share {
  text-align: center;
  margin: 0;
  padding: 0;
}
.contact__list {
  display: inline-block;
  margin: 0 6px;
}

.sns__img {
  width: 30px;
}

.contact__mail {
  font-family: 'Shadows Into Light', cursive;
  font-size: 24px;
  text-align: center;
}
