
.navbar{
  display: flex;
  list-style: none;
  justify-content: space-around;
}
.navbar {
  margin-top: 120px;
  padding: 0;
}

.navbar__item {
  transform:rotate(30deg);
}
.navbar__link {
  font-family: 'Shadows Into Light', cursive;
  font-size: 36px;
  font-weight: 600;
  color:#707070;
}

.navbar__link:hover {
  font-family: 'Shadows Into Light', cursive;
  font-size: 36px;
  font-weight: 600;
  color:#fff;
  background-color: #FF4646;
}
.nav {
  z-index: 2;
}
